/**

将该符号后面的内容和父元素直接拼接 没有空格 适用于各种伪类
**/

article a {
    color: gray;
    &:hover {
        transform: translateX(120%)
    }

    &:visited {
        color:pink;
    }
}


//compiled css
article a {
    color: gray;
}


article a:hover {
    transform: translateX(120%)
}


article a:visited {
    color:pink;
}


