/**
清除所有HTML标记的默认边距。
**/
* {
    margin: 0;                    /* 定义外边距*/
    padding: 0;                   /* 定义内边距*/
  }

.example {
    /**
    布局定位属性：display、position、float、clear、visbility、overflow、(建议display第一个写，毕竟关系到模式)
    **/
    display: block;

    /*
    自身属性：width、height、margin、padding、border、backgroound
    也可以叫做盒子模型属性
    margin最好在组件外部定义 而不要在组件内部定义
    */

    width: 20px;
    height: 20px;

    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;

    border: 1px solid blue;

    /**
    文本属性：color、font、text-decoration、text-align、vertical-align、while-space/、break-word、
    **/


    /**
    其他属性（css3）：content、cursor、border-radius、box-shadow、background：linear-gradient……
    **/
}