{% if token_list %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>网址</th>
                <th>用户名</th>
                <th>通行证</th>
            </tr>
        </thead>
        <tbody>
        {% for token in token_list %}
            <tr>
                <th>{{ token.id }}</th>
                <th>{{ token.url }}</th>
                <th>{{ token.name }}</th>
                <th>{{ token.token }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No tokens are available.</p>
{% endif %}