/**
如果我们需要一次性指定 border-width border-style
可以直接嵌套写入
**/


#test {
    border: {
        style: solid;
        width: 10px;
        color:pink;
    }
}

//compiled css
#test {
    border-style: solid;
    border-width: 10px;
    border-color:pink;
}