/* 主题相关颜色 */
$theme-color-yellow: #eabc02;
$theme-color-green: #4cd964;
$theme-color-blue: #007aff;


$theme-color-yellow-linear: #fcf8ea;
$theme-color-green-linear: rgba(0, 125, 34, 0.1);
$theme-color-blue-linear: rgba(0, 95, 200, 0.1);