sass_binary_site=http://10.39.52.175/repository/node-sass-proxy/
fse_binary_host_mirror=http://10.39.52.175/repository/fsevents-proxy/
nvm_nodejs_org_mirror=http://10.39.52.175/repository/node-proxy/
nodejs_org_mirror=http://10.39.52.175/repository/node-proxy/
registry=http://10.39.52.175/repository/npm-group/
