/*
 * @Description  : 表单页面共用样式
 * @Autor        : Hemingway
 * @Date         : 2021-09-15 10:39:56
 * @LastEditors  : Please set LastEditors
 * @LastEditTime : 2021-09-23 18:48:35
 * @FilePath     : \blockchain-minicode\src\styles\formMixin.scss
 */

// 表单域分组
::v-deep .uni-group {
    margin-top: 0 !important;

    .group-conent-padding {
      padding: 0 16rpx;
    }
  }

  // 表单域
  ::v-deep .uni-forms-item {
    border: none !important;
    padding: 16rpx 0 !important;
    position: relative;

    .form-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  // 整行表单域
  .horizon-cell {
    ::v-deep .uni-forms-item {
      .uni-forms-item__label {
        display: none;
      }

      .uni-error-message {
        padding-left: 0 !important;
        text-align: left;
      }
    }

    ::v-deep .uni-easyinput {
      .uni-easyinput__content {
        text-align: left;

        .uni-easyinput__content-textarea {
          min-height: 84rpx;
        }
      }
    }
  }

  .horizon-cell .form-item ::v-deep .uni-forms-item {
    padding: 32rpx 0;
  }

  .form-item:not(:last-child) ::v-deep .uni-forms-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1rpx solid #eee;
    transform: scaleY(0.5);
  }

  // 普通简单行
  .plain-cell ::v-deep .uni-group {
    background: transparent;

    .uni-forms-item {
      padding: 4rpx 0;
    }

    .label-text {
      font-size: 24rpx;
    }
  }